.album.four.columns{id: "album_#{album.id}"}
  = link_to image_tag(album.image.for_collection.url || 'http://placehold.it/220x220'), user_album_path(album.user, album)
  .title= album.title
  .artist= album.artist

  .controls
    .edit= link_to t(:edit), edit_user_album_path(album.user, album)
    .delete= link_to t(:delete), user_album_path(album.user, album), method: :delete, remote: true, data: { confirm: t(:confirm_album_delete) }
