.form-box
  %h2= t("#{params[:action]}_album")

  = simple_form_for [@user, @album], html: { multipart: true } do |f|
    = f.input :artist
    = f.input :title
    = f.input :year
    = f.input :image
    = f.submit t("#{params[:action]}_album")