.album.four.columns= image_tag 'http://placehold.it/420x420'
.album.four.columns= image_tag 'http://placehold.it/420x420'
.album.four.columns= image_tag 'http://placehold.it/420x420'
.album.four.columns= image_tag 'http://placehold.it/420x420'
.album.four.columns= image_tag 'http://placehold.it/420x420'
.album.four.columns= image_tag 'http://placehold.it/420x420'
.album.four.columns= image_tag 'http://placehold.it/420x420'
.album.four.columns= image_tag 'http://placehold.it/420x420'
