- if @albums.empty?
  .sixteen.columns
    = t :no_albums_added_yet
    - if current_users_collection?
      \- #{link_to t(:add_one_now), new_user_album_path(@user)}
- else
  - if current_users_collection?
    #album-collection-controls.sixteen.columns
      #{link_to t(:new_album), new_user_album_path(@user)} -
      #{link_to t(:edit_albums), '#', remote: true, id: 'edit-albums'}
      = render partial: 'search_form'
  = render @albums
