!!!
%head
  %title Sonitus
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
  %meta{name: "viewport", content: "initial-scale = 1.0,maximum-scale = 1.0"}

%body
  .container
    .head.row
      #page-title.title.eight.columns
      .user.eight.columns
        - if user_signed_in?
          Moin #{link_to current_user.username, edit_user_registration_path} -
          = link_to t(:sign_out), destroy_user_session_path, :method => :delete
        - else
          = link_to t(:sign_up), new_user_registration_path
          = link_to t(:sign_in), new_user_session_path


    - if !flash.empty?
      .sixteen.columns
        - if !flash[:notice].nil?
          .flash.notice= flash[:notice]

        - if !flash[:error].nil?
          .flash.error= flash[:error]

        - if !flash[:alert].nil?
          .flash.alert= flash[:alert]

    = yield

